#taxonomy-comments-nob {
  width: 100%;
  display: inline-block;
  float: left;
  margin: 5px 0;
  padding: 2px;
}
#taxonomy-comments-wb {
  width: 100%;
  display: inline-block;
  float: left;
  margin: 5px 0;
  padding: 2px;
  border-bottom: 1px solid #ccc;
}
.c-author-details {
  width: 30%;
  float: left;
  display: inline-block;
  padding: 5px;
}
.comment-details {
  float: left;
  display: inline-block;
  padding: 5px;
  width: 58%;
}
.block-heading {
  font-size: 24px;
  font-style: normal;
}
.comment-body {
  display: inline-block;
}
